# dependencies
node_modules

# output
dist
build
out
.next

public

# test
test

qcintl-portal/portal-render/gems-render-lib
qcintl-admin/admin-page-builder
qcintl-ui/gems-materials-qci
external-tools/tool-linkcent